{% extends 'base.html' %}

{% block head_title %}
ajb.(Fake)-Twitter
{% endblock head_title %}

{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Welcome to (Fake) Twitter</h1>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <h2>See what’s <em>not</em> happening in the world
      right now</h2>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-4 mx-auto col-10">
    <form class="form" method="POST" action="/create-tweet">
      {% csrf_token %}
      <input type="hidden" value="/" name="next">
      <textarea class="form-control" name="content" placeholder="Tweet Here!"></textarea>
      <button class="btn btn-primary" type="submit">Tweet</button>
    </form>
  </div>
</div>

<div class="row" id="tweets">
  Loading...
</div>

<script>
  const tweetsElement = document.getElementById('tweets');
  // tweetsElement.innerHTML = 'Loading...'
  // let el1 = "<h1>Hello World once</h1>"
  // let el2 = "<h1>Hello World twice</h1>"
  // let el3 = "<h1>Hello World three times a lady</h1>"
  // tweetsElement.innerHTML = el1 + el2 + el3

  const xhr = new XMLHttpRequest();
  const method = 'GET';
  const url = '/tweets';
  const responseType = 'json';

  function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount);
    return
  }

  function likeBtn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" +
      tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>";
  }

  function formatTweetElement(tweet) {
    let formattedTweet = "<div class='col-10 col-md-8 mx-auto border py-3 mb-4 tweet' id='tweet-" + tweet.id
      + "'><p>" + tweet.content +
      "</p><div class='btn-group'>" + likeBtn(tweet) +
      "</div></div>";
    return formattedTweet;
  }

  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = function () {
    const serverResponse = xhr.response;
    const listedItems = serverResponse.response;
    let finalTweetStr = '';

    for (let i = 0; i < listedItems.length; i++) {
      // console.log(i);
      // console.log(listedItems[i]);
      let tweetObj = listedItems[i];
      let currentItem = formatTweetElement(tweetObj);

      finalTweetStr += currentItem;
    }

    // console.log(listedItems)
    tweetsElement.innerHTML = finalTweetStr;
  }

  xhr.send();
</script>

{% endblock content %}